<layout name="Common/layout" />
<include file="Common/nav" />
<div id="main">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/userc/userc.css">
    <div class="container clearfix">
        <div id="widget_sub_navs">
            <div class="sidebar fl" style="width:240px;">
            <h2 class="header">用户中心</h2>
            <div class="box">
                <h2>交易管理</h2>
                <ul class="menu-list">
                    <li><a class="current" href="<?php echo U('My/order'); ?>">我的订单<span class="l-triangle"></span></a></li>
                    <li><a href="">退款申请<span class="l-triangle"></span></a></li>
                    <li><a href="">我的关注<span class="l-triangle"></span></a></li>
                </ul>
                <h2>客户服务</h2>
                <ul class="menu-list">
                    <li><a href="">商品咨询<span class="l-triangle"></span></a></li>
                    <li><a href="">商品评价<span class="l-triangle"></span></a></li>
                    <li><a href="">我的消息<span class="l-triangle"></span></a></li>
                </ul>
                <h2>账户管理</h2>
                <ul class="menu-list">
                    <li><a href="">个人资料<span class="l-triangle"></span></a></li>
                    <li><a href="">账户安全<span class="l-triangle"></span></a></li>
                    <li><a href="">账号绑定<span class="l-triangle"></span></a></li>
                    <li><a href="<?php echo U('My/add_lst'); ?>">收货地址<span class="l-triangle"></span></a></li>
                    <li><a href="">我的优惠券<span class="l-triangle"></span></a></li>
                    <li><a href="">账户金额<span class="l-triangle"></span></a></li>
                    <li><a href="">我的积分<span class="l-triangle"></span></a></li>
                </ul>
            </div>
        </div>
        </div>
        <div class="uc-content">
            <h1 class="title"><span>我的订单：</span></h1>
            <table class="simple">
                <tbody>
                <tr>
                    <th>订单编号</th>
                    <th width="160">下单时间</th>
                    <th width="100">收货人</th>
                    <th width="100">订单金额</th>
                    <th width="100">订单状态</th>
                    <th width="100">操作</th>
                </tr>
                <?php foreach($data as $k => $v){ ?>
                <tr class="even">
                    <td><?php echo $v['id']; ?></td>
                    <td><?php echo date('Y-m-d H:i:s' , $v['addtime']); ?></td>
                    <td>
                        <?php echo $v['shr_name']; ?>
                    </td>
                    <td>￥<?php echo $v['total_price']; ?></td>
                    <td><?php echo $v['pay_status'] == 1 ? '已支付' : '未支付'; ?></td>
                    <td>
                        <?php if($v['pay_status'] == 0){ ?>
                        <a href="<?php echo U('Order/succe?order_id='.$v['id']); ?>">支付</a> |
                        <a href="<?php echo U('Order/delete?order_id='.$v['id']); ?>">删除</a>
                        <?php }else{ ?>
                        <a href="<?php echo U('Order/detail?order_id='.$v['id']); ?>">查看</a>
                        <?php } ?>
                    </td>
                </tr>
                <?php } ?>
                </tbody>
            </table>
            <div class="page-nav">
                <?php echo $page;?>
            </div>
        </div>
    </div>
</div>